<div class="row" style="margin: 20px 0;">
  <div class="col-12" style="text-align: center;">
    <h1 class="flipflap" style="color: black; font-size: 70px;">Flip Flap</h1>
  </div>
</div>

<div class="row h-auto">
  <div class="col-12 col-sm-4" style="text-align: center; background-color: #dbffdb;">
    <i class="fas fa-book-open fa-5x" style="margin: 20px 0;"></i>
    <p><strong style="font-size: 25px; border-bottom: solid 3px red;">アルバム</strong></p>
    <p>自分専用のアルバムとして使用できます。</br>
    その時の一言と共に写真を保存しましょう。</br>
    いつでも思い出を振り返ることができます。
  </div>
  <div class="col-12 col-sm-4" style="text-align: center; background-color: #afeeee;">
    <i class="fas fa-people-arrows fa-5x" style="margin: 20px 0;"></i>
    <p><strong style="font-size: 25px; border-bottom: solid 3px red;">共有</strong></p>
    <p>他のユーザーと共有しましょう。</br>
    投稿することで共有されます。</br>
    何気ない写真が誰かの癒しとなります。
  </div>
  <div class="col-12 col-sm-4" style="text-align: center; background-color: #dbffdb;">
    <i class="far fa-handshake fa-5x" style="margin: 20px 0;"></i>
    <p><strong style="font-size: 25px; border-bottom: solid 3px red;">SNS</strong></p>
    <p>写真共有SNSとなります。</br>
    フォローやいいね、コメント機能もあります。</br>
    たくさんの仲間と楽しみましょう。
  </div>
</div>