
<!-- ロゴにする予定 -->
<h1>Flip Flap</h1>

<div style="width: 50%; height: 100px; border: solid 3px black;">
<p>文章</p>
あいうえお</br>
kakikukeko</br>
</div>

<%= link_to 'Flip Flapとは？', homes_about_path %>
<%= link_to 'ログイン', new_user_session_path %>
<%= link_to '新規登録', new_user_registration_path %>
