<div class="row">
	<div class="col-12">
		<h3>いいねしたユーザー一覧</h3>
	</div>
</div>

<% @likes.each do |like| %>
	<div class="row line" style="max-width: 768px">
		<div class="col-2">
			<%= attachment_image_tag like.user, :image, :fill, 100, 100, fallback: 'no_image.jpg', size: '100x100', class: "radius" %>
		</div>
		<div class="col-10">
			<div class="row" style="margin-top: 2%;">
				<div class="col-12">
					<%= "#{like.user.last_name}#{like.user.first_name}" %>
				</div>
			</div>
			<div class="row">
				<div class="col-9">
					<%= like.user.introduction %>
				</div>
				<div class="col-3">
					<% if like.user_id != current_user.id %>
						フォローする
					<% end %>
				</div>
				<div class="col-2">
			</div>
		</div>
	</div>
<% end %>
