<h3 style="text-align: center; margin-top: 15%;">お探しのページは見つかりませんでした。</h3>
<h4 style="text-align: center; margin-top: 20px;">
  <% if user_signed_in? %>
    <%= link_to user_path(current_user), style: "color: black;" do %>
      <i class="far fa-hand-point-left"> マイページへ戻る</i>
    <% end %>
  <% else %>
    <%= link_to root_path, style: "color: black;" do %>
      <i class="far fa-hand-point-left"> Topへ戻る</i>
    <% end %>
</h4>