<h3 style="text-align: center; margin-top: 15%;">予期せぬエラーが発生しました。</h3>
<h4 style="text-align: center; margin-top: 20px;">
  <% if user_signed_in? %>
    <%= link_to new_contacts_path, style: "color: black;" do %>
      <i class="far fa-envelope"> 報告する</i>
    <% end %>
  <% else %>
    <%= link_to root_path, style: "color: black;" do %>
      <i class="far fa-hand-point-left"> Topへ戻る</i>
    <% end %>
  <% end %>
</h4>