// Place all the styles related to the users/Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

label {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.radius {
	border-radius: 50%;
	margin: 5px 0;
	width: 70%;
}

.frame {
	display: inline-block;
	margin-bottom: 5%;
	padding-bottom: 3%;
	margin-left: 5%;
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

.frame:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width:768px) {
	.frame {
	margin: 0 10px;
	}
}

.photo {
	margin: 0 10px;
  padding:7px;
  border:1px solid #ccc;
  background:#fff;
  box-shadow: 1px 1px 5px gba(20,20,20,0.2);
}