// Place all the styles related to the users/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

label {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.form-row {
	margin-top: 10px;
}
